@font-face {
    font-family: "CursedTimer";
    src: url("CursedTimer.ttf");
}

body {
    margin: 0;
    background-color: #1B244A;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score{
    font-family: "CursedTimer", sans-serif;
    color: #F94F6D;
    font-size: 90px;
    margin: 20px;
    width: 120px;
}

.score-background{
    background-color: #080001;
}

.score-increment{
    display: flex;
    justify-content: space-around;
}

button {
    border: 2px solid #9AABD8;
    width: 45px;
    height: 46px;
    font-family: "CursedTimer", sans-serif;
    background-color: #1B244A;
    color: #9AABD8;
}

#new-game-style{
    width: 75px;
    margin-top: 90px;
    margin-right: 50px;
}